body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

#tracksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust gap between tracks as needed */
    width: 100%;
    margin-bottom: 20px; /* Ensure there's space between the grid and the controls */
}

.trackItem {
    flex: 0 1 calc(33.333% - 20px); /* 3 items per row, accounting for gap */
    cursor: pointer;
    transition: filter 0.3s ease;
    filter: grayscale(70%) saturate(30%);
    display: flex;
    justify-content: center;
}

.trackItem img {
    width: 100%; /* Adjust based on your preference */
    max-width: 120px; /* Limits image size */
    height: auto;
}

.trackItem.playing {
    filter: grayscale(0%) saturate(100%);
}

#controls {
    text-align: center;
    width: 100%;
}
