body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#audioPlayerContainer {
    text-align: center;
}

#playerUI {
    margin-top: 20px;
}

#currentArtwork {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#feedback {
    margin-top: 10px;
}
