#artworksContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.artwork img {
    width: 100px; /* Adjust based on your preference */
    height: 100px; /* Adjust based on your preference */
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.artwork img:hover {
    transform: scale(1.1);
}
