#loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
}

#artworksContainer {
    display: none; /* Initially hidden until loading is complete */
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.artwork img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.2s;
}

.artwork img:hover {
    transform: scale(1.1);
}
