#artworksContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.artwork {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.artwork:hover {
    transform: scale(1.05);
}

.artwork img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: cover;
}

#tracksContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: filter 0.3s ease;
    filter: grayscale(100%) saturate(30%);
}

#tracksContainer img.active {
    filter: grayscale(0%) saturate(100%);
}
