/* Base styles */
body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color for contrast */
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 36px; /* Larger text for readability */
    display: flex;
    justify-content: center;
    align-items:safe;
    min-height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allows vertical scrolling only if needed */
}

#artworksContainer {
    display: flex;
    justify-content: space-around; /* Space out the artworks */
    width: 100%; /* Full container width */
    max-width: 1200px; /* Max container width */
}

.artwork {
    width: 30%; /* Adjust for larger screens */
    margin: 10px; /* Provides space around artworks */
    box-sizing: border-box;
}

.artwork img {
    width: 100%; /* Make image fill the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure the image doesn't overflow its container */
    object-fit: contain; /* Ensure the image is scaled correctly to fit while maintaining aspect ratio */
    cursor: pointer;
    transition: transform 0.2s;
}

/* Add hover effect for images */
.artwork img:hover {
    transform: scale(1.05);
}


#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#playStopButton {
    visibility: hidden; /* Initially hidden but takes up space */
    opacity: 0;
    padding: 15px 30px; /* Larger button for easier interaction */
    font-size: 18px; /* Larger text for readability */
    background-color: #333;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}


/* Responsive adjustments */
@media (max-width: 768px) {

}

@media (max-width: 480px) {


    #playStopButton {
        padding: 15px 30px; /* Larger button for easier interaction */
        font-size: 18px; /* Larger text for readability */
    }
}

